    @media screen and (max-width:380px) {
    form {
        font-size: 1.1em;
    }
    #main-header {
        margin-top: 200px;
        font-size: 20px;
        margin-right: 50px;
        margin-top: -91px;
        font-size: 20px;
        margin-right: 50px;
        font-size: 3em;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    #second-header {
        visibility: hidden;
        list-style-type: none;
    }
    .media {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .sectionnew2 {
        display: none;
    }
    #logo {
        margin: -4px;
    }
    #second-header {
        visibility: hidden;
        list-style-type: none;
    }
    #main-header {
        font-size: 20px;
        margin-top: 100px;
        font-size: 20px;
        margin-right: 50px;
        margin-top: -91px;
        font-size: 3em;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .poster {
        display: block;
    }
    .pos {
        display: block;
        max-width: 100%;
    }
    .media {
        display: none;
    }
    #atv_boxes div {
        display: inline;
        width: 100px;
    }
    #atv_boxes div {
        display: inline-block;
        width: 33%;
    }
    #atv_boxes {
        text-align: left;
    }
}

* {
    box-sizing: border-box;
}

#teammembers {
    background-color: white;
}

.copyright {
    color: white;
    padding-left: 20px;
}

.innercontainer {
    text-align: center;
}

.snowmobbutton {
    padding-left: 3cm;
}

.atvbutton {
    padding-left: 3cm;
}

img {
    max-width: 100%
}

.section1 {
    display: inline-block;
    margin-left: 5px;
    float: left;
}

#logo {
    float: left;
}

.hidden {
    display: none;
}

h1 {
    font-family: monospace;
}

h2 {
    font-family: monospace;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: monospace;
    font-size: 1.6em;
}

p {
    font-family: monospace;
    font-size: 1.2em;
}
#wet{
    text-align: center;
}

#mobilemenu1 {
    display: none;
}

.mobilemenu2 {
    display: none;
}

ul {
    list-style-type: none;
    border: 0;
    border-color: blue;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    left: 0px;
    width: 69%;
    border: 1px solid #e7e7e7;
    background-color: #333;
}

li {
    float: left;
    font-family: monospace;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fullscreen-bg {
    position: relative;
    top: 5px;
    left: 0;
    /* video for all the screen sizes */
    width: 100%;
    height: 100%;
}

video {
    position: relative;
    z-index: -1;
}

.section3 {
    color: rgb(255, 255, 255);
    z-index: -1;
    top: 380px;
    /* h1 and h2 text infront of video */
    left: 300px;
    text-align: center;
    position: absolute;
}

.section4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section5 {
    margin-left: 20px;
    padding-left: 70px;
    float: left;
}

.sectionnew {
    margin-left: 200px;
    display: flex;
    justify-content: center;
}

.hover {
    background-color: red;
}

body {
    background-color: white;
}

.section7 {
    display: inline-block;
    position: relative;
    list-style-type: none;
    padding-left: 17%;
}

.section10 {
    list-style-type: none;
    padding-left: 19%;
}

.sectioneleven {
    margin-top: 30px;
    font-family: monospace;
    font-size: 1.0em;
}

.section13 {
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
}

.section15 {
    border: 0;
    border-color: blue;
    margin-top: 150px;
    padding: 0;
    overflow: hidden;
    left: 0px;
    position: relative;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #333;
    margin-top: 30px;
    margin-bottom: 0px;
}

footer a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (max-width:865px) {
    #menu {
        display: none;
    }
    .sectionnew {
        /* tablet */
        display: none;
    }
    .mobilemenu {
        display: none;
    }
    #main-header {
        font-size: 3em;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .bestbrands {
        margin-right: 45px;
    }
    .sectionnew2 {
        display: none;
    }
    #second-header {
        font-size: 1.8em;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .mobilemenu2 {
        display: inline-block;
        width: 1px;
        height: 1px;
        position: relative;
        float: right;
        margin-right: 100px;
        margin-top: 20px;
    }
    .innercontainer {
        align-items: center;
        padding-left: 15px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    .mobilemenu2:hover .dropdown-content {
        display: block;
    }
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .mobilemenu2:hover .dropbtn {
        background-color: #3e8e41;
    }
    #logo {
        height: 66px;
        width: 160px;
    }
    .media {
        display: none;
    }
}

#snowmobile_boxes div {
    display: inline-block;
    width: 30%;
}

#snowmobile_boxes {
    text-align: left;
    padding-left: 60px;
}

#atv_boxes div {
    display: inline-block;
    width: 33%;
}

#atv_box1 {
    margin-top: 10px;
}

#atv_boxes {
    text-align: left;
}

#section6 {
    display: inline-flex;
}

#locations_box div {
    display: inline-block;
    width: 47%;
}

#contactus div {
    font-size: 1.6em;
}

form {
    font-size: 1.3em;
}

.dropbtn {
    width: 25px;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /* reserve */
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width:865px) {
    #snowmobile_boxes div {
        display: inline;
        width: 100px;
    }
    #second-header {
        visibility: hidden;
        list-style-type: none;
        /* mobile */
    }
    .media {
        display: none;
    }
    #logo {
        height: 66px;
        width: 160px;
    }
    #atv_boxes div {
        display: inline;
        width: 100px;
    }
    #section6 {
        display: inline;
        width: 90px;
    }
    #locations_box div {
        display: inline;
    }
    image.history_pic {
        align-content: center;
    }
    custreviews.p {
        font-size: 1.8em;
    }
}

@media screen and (max-width:961px) {
    .section5 {
        display: none;
        /* mensshoes */
    }
    .media {
        display: none;
    }
    .bestbrands {
        margin-left: 35px;
    }
    .hidden {
        display: block;
        position: relative;
        /* men and women shoes */
        margin-left: 10px;
    }
    .section4 {
        display: flex;
        justify-content: center;
        /* available choices */
        flex-wrap: wrap;
    }
    .section6-1 {
        margin-left: 80px;
        /* mensshoes img */
    }
    #menu {
        display: none;
    }
    .section3 {
        color: rgb(255, 255, 255);
        z-index: -1;
        top: 180px;
        /* h1 and h2 */
        left: 140px;
        text-align: center;
        position: absolute;
    }
    #main-header {
        display: flex;
        justify-content: flex-end;
        font-size: 3em;
        flex-wrap: wrap;
    }
    #logo {
        height: 66px;
        width: 160px;
    }
    #second-header {
        font-size: 1.8em;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    #atv_boxes div {
        display: inline;
        width: 100px;
    }
    #atv_boxes div {
        display: inline-block;
        width: 33%;
        margin: 55px;
        align-content: center;
    }
}

@media screen and (max-width:1025px) {
    #menu {
        height: auto;
    }
    .media {
        display: none;
    }
    #second-header {
        visibility: hidden;
        /* tablet rotate */
        list-style-type: none;
    }
    #menu {
        float: right;
        height: 70px;
        /* Safari */
        /* Safari 6.1+ */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #logo {
        height: 66px;
        width: 160px;
    }
   
}

@media screen and (min-width:1200px) {
    #menu {
        height: auto;
    }
    #main-header {
        margin-top: -205px;
        font-size: 20px;
        margin-right: 50px;
        font-size: 2em;
    }
    #second-header {
        font-size: 1.8em;
    }
    #menu {
        float: right;
        /* Safari */
        /* Safari 6.1+ */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        padding: 0px;
    }
    .atvmob {}
    .section15 {
        border: 0;
        border-color: blue;
        margin-top: 150px;
        padding: 0;
        overflow: hidden;
        left: 0px;
        position: relative;
        width: 100%;
        border: 1px solid #e7e7e7;
        background-color: #333;
        margin-top: 30px;
        margin-bottom: 0px;
        height: 70px;
    }
    #logo {
        height: 48px;
        width: 160px;
    }
    .section3 {
        color: rgb(255, 255, 255);
        z-index: -1;
        top: 180px;
        /* h1 and h2 */
        left: 140px;
        text-align: center;
        position: absolute;
        margin-top: 155px;
    }
    .media {
        float: right;
    }
    .bestbrands {
        float: right;
    }
    #section6 {
        margin-left: 70px;
    }
    .copyright{
        padding-left: 20px;
      
    }
    
}