html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    font: 1.25vw "times new roman", times, serif;
    margin: 0;
    padding: 0;
}
#wrapper{

   
 
}
#everything{
     display: flex;
    flex-flow: row;
    flex-flow: ltr;
    justify-content: center;
    
    
}
nav, aside{
flex: 1 25%;
}

main{
    flex: 2 50%;
}
nav, main, aside{
    width: 25%;
    margin-right: 5%;
}
nav{
    background-color: red;
    order:
}
main{
    background-color: yellowgreen;
}
aside{
    background-color: aqua;
}